<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        {{ include('layout/menu.html.twig') }}

        <h1>Produit {{ productId +1}}</h1>
        {% if productId +1 >=3 %}
        <h1>plus grd que 3</h1>
        {% else %}
        <h1>plus ptit que 3</h1>
        {% endif %}

    </body>
</html>
